
body {
    font-family: Lato;
    font-size: 2em;
    background-color: blue;
    color: white;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.navigation {
    margin-left: 300px;
    margin-right: 300px;
    background-color: blue;
    color: white;

}

.navigation a {
    text-decoration: none;
    color: white;

}

.site-title {
    background-color: blue;
    color: white;

    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

.site-links a {
    background-color: white;
    color: black;
}

 .site-links a {
    margin-inline: 2em;
    text-decoration: none;
    color: black;
    display: inline-block;
 }

 .site-links a:hover {
    margin-left: 2em;
 }

.main {
    background-color: blue;
    color: white;

    padding: 1em;

    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    justify-content: center;
}

.banner {
    display: flex;
    justify-content: center;
}

.about-me {
    background-color: blue;
    color: white;

    margin-left: 300px;
    margin-right: 300px;
    overflow: scroll;

    max-width: 600px;
    border: 1px solid black;
    padding: 1em;
    text-align: justify;
    margin: auto;
    
    display: flex;
    justify-content: center;
}

.portrait {
    height: 10%;
    width: 5%;
   
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 5em;

    display: flex;
    justify-content: center;

}

.contact {
    background-color: blue;
    color: white;

    padding: 1em;

    margin-left: 300px;
    margin-right: 300px;

    display: flex;
    justify-content: center;
}