
body {
    font-family: Lato;
    font-size: 2em;
    background-color: blue;
}

.navigation {
    width: 100%;
    background-color: white;
    color: black;
    height: auto;

    position: fixed;

    margin: auto;
    margin: auto;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.site-title {
    background-color: white;
    color: black;

    margin: auto;
    margin: auto;
    text-align: center;
    font-size: 200%;
}

.site-links a {
    background-color: white;
    color: black;

}
 .site-links a {
    margin: auto;
    text-decoration: none;
    color: black;
 }

 .site-links a:hover {
    margin-left: 2em;
 }

.main {
    background-color: blue;
    color: white;

    padding: 1em;

    margin: auto;
    margin: auto;

    width: 300px;
}

.banner {
    height: 1000px;
    width: 400px;
    margin: auto;
    margin: auto;
    display: flex;
    justify-content: center;
}

.about-me {
    background-color: blue;
    color: white;

    padding: 1em;

    margin: auto;
    margin: auto;

}

.about-me p {
    background-color: blue;
    color: white;
    text-align: left;
    padding: 1em;
    position: fixed;
    vertical-align: middle;

    margin: 5em;
    margin-right: 10px;

    top: 20px;
    left: 100px;
    max-width: 300px;
    font-size: 2em;
    opacity: 0.8;
}

.portrait {
    height: 10%;
    width: 5%;
    float: right;
    display: block;
    margin-left: auto;
    margin-bottom: 5em;
}

.contact {
    background-color: blue;
    color: white;

    padding: 1em;

    margin: 10em;

    display: flex;
    justify-content: center;
}